@model IEnumerable<MyPeeps.Models.MPContact>

@{
    ViewData["Title"] = "Index";
}


@*<div class="container-fluid text-center ">
    <h1 id="">My Peeps</h1>
</div>*@

<div class="container align-content-center">
    <div class="row text-center">
        <div class="col">

            <h4>
                <a asp-action="Create">Add a Peep</a>
            </h4>

            <div class="table-responsive">
                <table class="dataTable  table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                First
                            </th>
                            <th>
                                Last
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.ImagePath)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageData)
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Address1)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address2)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.City)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.State)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ZipCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Phone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>*@
                            <th>
                                Options
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>*@
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.ImagePath)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageData)
                                </td>*@
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Address1)
                                </td>*@
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Address2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ZipCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>*@
                            <td>
                                
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
